{{!-- {{#each cards}}
<a class="card" href="#">
<article class="card__article">
<div
    class="card__image"
    style="background-image: url('img/productos/{{image}}')"
>
</div>

<div class="card__content">
    <h3 class="card__heading">{{heading}}</h3>
    <div class="card__description">
    <div class="card__description-price">{{price}}</div>
    <span class="card__description-chart"><i
        class="fas fa-shopping-cart"
        ></i>
        Agregar al carrito
    </span>
    </div>
</div>
</article>
</a>

{{/each}} --}}