.section-cards {
    background-color: #f1f2f3;
    padding: 1em;
    padding-top: 0px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

@media (min-width: 1200px) {
    .cards-container {
        gap: 2em;
    }
}

.h1-index {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
