.section-carrito {
  display: none;
  position: fixed;
  background-color: #f1f2f3;
  z-index: 1;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  box-shadow: 0.3em 0.3em 10em 0.3em black;
}

.section-carrito--visible {
  display: block;
}